{% extends 'base.html' %}

{% block content %}
			<div class="intro">
				<p>Hi everyone! Vignesh here, F1 with an interest in cardiology :) I'll be doing a teaching session for you guys this Wednesday (29th August) on ECGs and arrhythmias as part of the 'Acute Medicine' teaching course that Patrick Murphy is organising.</p> 
				
				<p>As this can be a topic in which people have varying experience levels and expectations of what will be taught, it would be super duper helpful if you could please fill in this form, so that I can tailor the session as close as possible to exactly what you all want! :)</p>
			</div>

			<br>

			<form action='response'>
				
				<p>Please change the sliders to show how important each of the following is to you. The sliders are arranged such that they all add up to 100 at any time, so it's not possible to rank multiple things highly or lowly. It's a bit like you have 100 points to allocate amongst all the choices, so you're forced to prioritise. Feel free to rank 1 or 2 things very highly and the rest 0, or spread it out as much as you want. If there's any problem, just type some free text in the comments box, or just email me directly at vignesh.dhileepan@nhs.net</p>
				
				{%for i in range(1, lenq+1)%}
					<hr>
					<div class='section'>
						<label for="{{i}}"> <span>&#8226;</span> {{questions[i-1]['subject']}}: {{questions[i-1]['description'] | safe}}</label>
						<input class='number' type="number" name="{{questions[i-1]['subject']}}" value="{{100//(lenq-1)}}">
						<input class='range-{{i}} range' type="range" min="0" max="100" step="1" value="{{100//(lenq-1)}}" />
					</div>
				{%endfor%}
				<hr>

				<br>
				<p>Any other comments?</p>
				<textarea id='comments' name='comments' placeholder="" rows='4' cols='60'></textarea> <br>

				<input type="submit" class='btn btn-success' value="Submit">
			</form>

{% endblock %}